html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: #F6F8FF;;
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Space Mono', sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input {
	caret-color: #0079FF;
  }

input:focus {
	outline: none;
  }

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.main {
	padding: 144px 355px 144px 170px;
}

.nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}

.light-dark {
	font-size: 13px;
}

.devfinder {
	font-size: 26px;
	font-weight: 700;
}

.formochka {
	display: flex;
	justify-content: space-between;
}

.input {
	border: 0;
}

.button {
	border-radius: 10px;
	background: #0079FF;
	color: white;
	padding: 13px;
	min-width: 106px;
}

.button:hover {
	background: #60ABFF;
}

.wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 23px;
}

.section {
	display: flex;
	justify-content: space-between;
}

.followers {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 32px;
}

.article {
	background: #FEFEFE;
}

.numbers {
	display: flex;
	justify-content: space-around;
}

.words {
	display: flex;
	justify-content: space-around;
}
